.topics-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.topics-info {
  display: flex;
  justify-content: space-between;
}
.practice-button-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.practice-info-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cards {
  background-color: var(--secondary-color);
  border: none;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.practice-btn {
  background-color: white;
  border-radius: 0px;
  border: none;
  color: black;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.practice-btn:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
