.brand-logo {
  width: 200px;
  height: 90px;
}
.navbar-nav a {
  text-decoration: none;
  margin-left: 0.666rem;
  color: gray;
  padding: 5px 20px;
}
.active {
  color: white !important;
  background-color: var(--secondary-color);
  border-radius: 3px;
  transition: 0.6s;
}
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
.top-tool {
  background-color: var(--secondary-color);
}
.icon {
  color: var(--secondary-color);
}
