/* Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #ffff;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Scroll Bar Design Start*/
body::-webkit-scrollbar {
  width: 0.666rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  outline: 1px solid slategrey;
}
/* Scroll Bar Design End*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --main-color: #0b5eb1;
  --secondary-color: #5e17eb;
}
